.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 10px 15px;
  border: solid 1px;
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
footer {
  text-align: center;
}

.email {
  color: #0b5ed7;
}

.instagram {
  color: #0b5ed7;
}

h1 {
  color: blue;
  text-decoration: underline;
}

.search-button {
  background-color: rgb(162, 237, 243);
}

.float-left {
  width: 100px;
  height: 100px;
  font-size: medium;
  align-items: center;
  text-align: center;
  display: inline-flex;
}
.temperature {
  font-weight: 700;
  font-size: 50px;
}

footer {
  font-size: small;
}
